  <div class="container">
    <footer>
      <p>&copy; Joanna Geller & James Haley 2015</p>
    </footer>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- <script src="/js/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script> -->
<script type="text/javascript">

    jQuery(document).ready(function($){
        "use strict";
        var state_Of_Nav_Open = false,

            toggles = $(".egw-toggle-switch");//the switch document.querySelectorAll(".egw-toggle-switch")

        for (var i = toggles.length - 1; i >= 0; i--) {
            var toggle = toggles[i];
            toggleHandler(toggle);
        };

        function toggleHandler(toggle) {
            toggle.addEventListener( "click", function(e) {
                e.preventDefault();
                (   this.classList.contains("active") === true) ? this.classList.remove("active") : this.classList.add("active");
            });
        }
    
        //open/close lateral navigation
        $('.egw-toggle-switch').on('click', function(event){
            event.preventDefault();
            //stop if nav animation is running 
        if( !state_Of_Nav_Open ) {
            if( $(this).parents('.csstransitions').length > 0 ) { 
                state_Of_Nav_Open = true;
            }
            
            $('body').toggleClass('navigation-is-open');
            $('.cd-navigation-wrapper').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
                //animation is over
                state_Of_Nav_Open = false;
            });
        }
    });
});
</script>