<header>
<!-- class="site-header" -->
  <div class="container">
    <div class="row">
      <div class="menu-size">

        <div class="col-md-6 col-sm-6 col-xs-10">
          <a href="/">
            <div class="logo-box"><img class="logo" src="/images/engage-logo-small-03.png"/></div>
          </a>
        </div>

        <div class="col-md-2 col-sm-4 hidden-xs">
          <!-- <h2>AERA</h2> -->
        </div>
        <div class="col-md-4 col-sm-2 hidden-xs">
          <div class="col-md-4 hidden-sm hidden-xs menu-item">
            <h2><a class="no-highlight" href="/aera-2015/symposium/">Symposium</a></h2>
          </div>
          <div class="col-md-4 hidden-sm hidden-xs menu-item">
            <h2><a class="no-highlight" href="/about/">About</a></h2>
          </div>
          <div class="col-md-4 col-sm-12 cd-nav-trigger menu-button">
            <button class="egw-toggle-switch egw-toggle-switch__htra">
              <span>toggle menu</span> <!-- js is currently in the footer -->
            </button>
          </div>
        </div>
        <div class="col-xs-2 visible-xs-inline-block cd-nav-trigger menu-button">
          <button class="egw-toggle-switch egw-toggle-switch__htra">
            <span>toggle menu</span> <!-- js is currently in the footer -->
          </button>
        </div>
      </div>

    </div>
    <hr class="bottom-line">
    <hr class="hr-bottom-line-spacer">
  </div>
</header>
{% include toggleMenu.html %}

