.ss-form-container {
  margin: 0 auto;
  width: 50%;
  @include tablet{
    width: 100%
  }
  @include phone{
    width: 100%
  }
}
.ss-form-container2 {
  margin-top: 18px;
}
.ss-form-container, .ss-form-container2 {
  border: 1px solid #999;
  border-radius: 4px;
}
.ss-form-title {
  font-family: "Roboto";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 2.460rem;
  font-style: normal;
  // margin-top: 55px;
  margin-right: 18px;
  margin-left: 18px;
}
.ss-form-desc, .ss-page-description, .ss-section-description {
  font-family: "Roboto";
  color: rgb(140,140,140);
  font-weight: 400;
  font-size: 1.080rem;
  font-style: normal;
  // margin-top: 7px;
  margin-right: 18px;
  margin-left: 18px;
}
.ss-q-title {
  font-family: "Roboto";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin-top: 7px;
  margin-bottom: -2px;
}
.ss-q-help {
  font-family: "Roboto";
  color: rgb(140,140,140);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: normal;
}
.ss-asterisk{
  margin-left: 18px;
}
.error-message, .required-message, .ss-required-asterisk {
  font-family: "Roboto";
  color: rgb(196,59,29);
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
}
.ss-password-warning {
  font-family: "Arial";
  color: rgb(119,119,119);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: italic;
  padding-bottom: 15px;
}
.disclaimer {
  font-family: "Arial";
  color: rgb(119,119,119);
  font-weight: 400;
  font-size: 0.850rem;
  font-style: normal;
}
.ss-footer-content {
  font-family: "Arial";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: normal;
}
input[type='text'], input:not([type]), textarea {
  font-family: $content-font-family;
  font-size: 18px;
}
.error, .required, .errorbox-bad {
  border-color: rgb(196,59,29);
}
.jfk-progressBar-nonBlocking .progress-bar-thumb {
  background-color: rgb(140,140,140);
}
.docs-a11y-ariascreenreader-speakable{
  display: none;
}
.last-input{
  padding-bottom:50px;
  @include phone{
    padding-bottom:68px;
  }
}
.ss-form-entry{
  display: block;
  margin-right: 18px;
  margin-left: 18px;
}
.ss-form-entry2{
  margin-right: 18px;
  margin-left: -12px;
}

.ss-logo-image {
  background-image: url('//ssl.gstatic.com/docs/forms/forms_logo_small_dark.png');
  background-size: 108px 21px;
  width: 108px;
  height: 21px;
}
@media screen and (-webkit-device-pixel-ratio: 2) {
.ss-logo-image {
  background-image: url('//ssl.gstatic.com/docs/forms/forms_logo_small_dark_2x.png');
}
}