/* =============================================================================
  MENU TOGGLE SWITCHES
============================================================================= */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `egw-toggle-switch` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.menu-button {
  padding-right: 0;
  margin-top: 6px;
  z-index: 20;
  @include phone{
    padding-right:15px;
  }
}
.egw-toggle-switch {
  // display: block;
  float: right;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 47px;
  font-size: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 1px 1px 2px #eee;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}
.egw-toggle-switch:focus {
  outline: none;
}
.egw-toggle-switch span {
  display: block;
  position: absolute;
  top: 21px;
  left: 10px;
  right: 10px;
  height: 3px;
  background: #000;
}
.egw-toggle-switch span::before,
.egw-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  content: "";
}
.egw-toggle-switch span::before {
  top: -9px;
}
.egw-toggle-switch span::after {
  bottom: -9px;
}
/**
 * Style 4
 *
 * Hamburger to right-arrow (htra). Hamburger menu transforms to a
 * right-pointing arrow. Usually indicates an off canvas menu sliding in from 
 * right that will be close on re-click of the icon.
 */
.egw-toggle-switch__htra {
  background-color: #fff;
}
.egw-toggle-switch__htra span {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
.egw-toggle-switch__htra span::before {
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
          transition: transform 0.3s, width 0.3s, top 0.3s;
}
.egw-toggle-switch__htra span::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
          transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.egw-toggle-switch__htra span,.egw-toggle-switch__htra span::before,.egw-toggle-switch__htra span::after{
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
      -ms-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
          transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
/* active state, i.e. menu open */
.egw-toggle-switch__htra.active {
  background-color: #e0e0e8;
}
.egw-toggle-switch__htra.active span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.egw-toggle-switch__htra.active span::before,
.egw-toggle-switch__htra.active span::after {
  width: 60%;
}
.egw-toggle-switch__htra.active span::before {
  top: 0;
  -webkit-transform: translateX(-3px) translateY(1px) rotate(-45deg);
      -ms-transform: translateX(-3px) translateY(1px) rotate(-45deg);
          transform: translateX(-3px) translateY(1px) rotate(-45deg);
}
.egw-toggle-switch__htra.active span::after {
  bottom: 0;
  -webkit-transform: translateX(-3px) translateY(-1px) rotate(45deg);
      -ms-transform: translateX(-3px) translateY(-1px) rotate(45deg);
          transform: translateX(-3px) translateY(-1px) rotate(45deg);
}
/**
 * side menu
 *
 * the menu that will come out when toggled
 */
.cd-nav {
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: -1px 1px 5px #333;
  height: 100%;
  width: 300px;
  background-color: #FFF;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s;
  -moz-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s;
}
.cd-nav .cd-navigation-wrapper {
  /* all navigation content sliding inward*/
  height: 100%;
  overflow: hidden;
  padding: 40px 5% 40px calc(5% + 70px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
.navigation-is-open .cd-nav {
  visibility: visible;
  overflow: hidden;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.navigation-is-open .cd-nav .cd-navigation-wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.cd-nav h2 {
  position: relative;
  font-weight: 400;
  color: #666;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 42px;
  margin-bottom:16px;
}
.cd-nav h2::after {
  /* bottom separation line */
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 1px;
  width: 60px;
}
.cd-nav .cd-primary-nav {
  margin-top: 60px;
}
.cd-nav p{
  font-size: 20px;
}
.cd-nav div a{
  color: #010101;
  font-size: 16px;
  font-weight: 300;
  &:visited {
    color: #010101;
  }
  &:hover {
    color: darken( $link-color, 5% );
    text-decoration: none;
  }

}


